/* style.css */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#copybutton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:default;
    overflow: hidden;
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    display:none;
}

#poem {
	/*display: none;*/
	opacity:0;
	font-size: 0;
}

.poem-textarea {
	display: none;
}